h1{
	font-family: Courier;
	font-size: 60px;
	text-align: center;
	color: rgb(102,34,152);
}

h2{
	font-family: monospace;
	font-size: 40px;
	text-align: left;
	color: rgb(255,0,0);
}
li{
	font-family: monospace;
	font-size: 20px;
	color: rgb(213, 24, 152);
	
}

p{
	font-family: Courier;
	color: rgb(34,123,323);
}

/* for ids use number signs */
#falcons{
	height: 350px;
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body{
	background-image: url("background.gif");
	background-size: cover;
}

